@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Harmattan:wght@400;500;600;700&display=swap');

body {
	background-color: #536878;
	color: white;
	margin: 0px;
	padding: 0px;
	font-family: Prompt;
	font-weight: 400;
}

h1 {
	font-family: "Baloo Paaji 2";
	font-weight: 800;
	font-size: 64px;
}

h2 {
	font-family: "Baloo Paaji 2";
	font-weight: 700;
	font-size: 56px;
	margin-bottom: 10px;
}


h3 {
	font-family: "Harmattan";
	font-weight: 700;
	font-size: 56px;
	margin-bottom: 10px;
}

h4 {
	font-family: "Harmattan";
	font-weight: 600;
	font-size: 48px;
	margin-top: 30px;
	margin-bottom: 5px;
}

#title {
	text-align: center;
	font-size: 64px;
	text-shadow: 2px 2px #536872;
}

#container {
	max-width: 800px;
	margin: auto;
}

#container2 {
	widht: 100%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

#main {
	padding: 35px;
}

#navbar {
	height: 50px;
	background-color: #36454f;
	margin: auto;
	width: 100%;
	padding: 0;
	margin: 0;
}

#navbar-list {
	-webkit-box-align: left!important;
	-ms-flex-align: left!important;
	align-items: center!important;
	-webkit-box-pack: center!important;
	-ms-flex-pack: center!important;
	justify-content: left!important;
	display: -webkit-box!important;
	display: -ms-flexbox!important;
	display: flex!important;;
  list-style-type: none;
  text-align: left;
  height: 100%;
  margin: 0px 0px;
  padding: 0px;
}

#logo {
	width: 32px;
	filter: brightness(0) invert(1);
}

#stl_cont {
	height: 80vh;
	background-color: white;
	float: left;
}

li {
  float: left;
}

.navbar-link, .navbar-link:visited, .navbar-link:hover, .navbar-link:active {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 600;
  text-align: center;
  display: block;
  margin: 0px 10px;
}

.navbar-link:hover {
}


.button {
	min-width: 30px;
	padding: 10px;
	min-height: 20px;
	background-color: #536872;
	width: fit-content;
	text-align: center;
	border-radius: 5px;
	border: 2px solid white;
	outline: 3px solid #536872;
}

.button:hover {
	outline: 2px solid white;
}

.button-link, .button-link:visited, .button-link:hover, .button-link:active {
  text-decoration: none;
  color: white;
  font-weight: 600;
  text-align: center;
  display: block;
  margin: 0px 5px;
  width: fit-content;
  margin: 10px;
}

.search {
  background-color: white;
  width: 100%;
  min-height: 200px;
  margin: 20px 0px; 
  border-radius: 10px;
}

.search-table {
  width: 100%;
  color: black;
  table-layout: fixed;
}

td {
	text-align: center;
}

.table-entry, .table-entry:visited, .table-entry:hover, .table-entry:active {
	color: inherit;
	display: block;
	text-decoration: none;
}